.App {
  text-align: center;
}
.list-group li{
  text-align: center;
  width: 20;
  font-size: 30px;
  font-weight: bold;
}
.form-p {
  font-size: 20px;
  font-weight: normal;
}
.col-6{

  width: 70%;
  background-color: #EDF1F1;
  padding-top: 60px;
  text-align: start;
}
.form-label{
  font-weight: bold;
}
#test{
    background-color: transparent;

}
.container{
  padding-top: 40px;
}
.btn{
  display: flex;
  justify-content: center;
}